# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS and editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Project runtime
uploads/*
!uploads/.gitkeep

# Logs and temp
*.log
*.tmp
